          @@ -2,6 +2,6 @@ aiohttp
   2    2  aria2p
   3    3  hachoir
   4    4  Pillow
   5      -https://github.com/pyrogram/pyrogram/archive/asyncio.zip
        5 +https://github.com/pyrogram/pyrogram/archive/asyncio-dev.zip
   6    6  tgcrypto
   7    7  git+https://github.com/FaArIsH/youtube-dl
